table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td.yellow {
	background-color: yellow;
	text-align: center;
}

.products-details tr:nth-child(even) {
    background-color: rgb(215, 248, 215);
}

.products-details td:nth-child(2) {
  text-align: center;
}

.products-details td:nth-child(3) {
  text-align: center;
}

td.gray {
	background-color: LightGrey;
	text-align: center;
}

